{% extends 'base/base.html' %}
{% block content %}

<div class="header-bar">
    <h3>URL Shortener</h3>
</div>
<div class="detail-wrapper">
    <div><h3>{{url_object.short_code}}</h3></div>    
    <hr>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div>
            <h4>{{ url_object.url|truncatechars:24 }}</h4>    
        </div>
        <div><a href="{% url 'traverse' url_object.short_code %}" class="button">Go</a></div>
        
    </div>
    
</div>

{% endblock %}